body {
    font-family: 'Montserrat', sans-serif;
}
/* CSS do cabeçalho*/
header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color:#C78C19;
    text-decoration: underline;
}

/*CSS do rodapé*/

footer {
    text-align: center;
    background: url("../images/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/*Design responsivo*/

@media screen and (max-width: 480px) {
    .caixa, .principal, .mapa-conteudo, .conteudo-beneficios, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav li {
        display: block;
        line-height: 1.5;
    }
}